.cUcardParent{
    border-radius: .7rem;
    color: black;
}

.cUcardContent{
    display: flex;
    align-items: center;
    max-height: max-content;

}

.cUcardIcon{
    font-size: 9rem;
    color: #007bff;
    padding: 0 2rem;
}
.cUCardPara{
    padding: 0px 2rem;
    font-size: 1.5rem;
}



@media screen and (max-width: 760px){
    .cUcardContent{
    flex-direction: column;
    align-items: start;
}

.cUcardIcon{
    font-size: 5rem;
    color: #007bff;
}



}