.productCard{
    background-color: rgb(241, 241, 241);
    width: 300px;
    margin: auto;
    margin-top: 200px;
    border-radius: 1.5rem;
    overflow: hidden;
    border: 1px solid rgb(228, 228, 228);
    
}

.productCard:hover{
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.productImageParent{
    height: 280px;
    width: 300px;
    overflow: hidden;
    position: relative;   
}


.productImage{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.imageIcons{
    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   gap: 1rem;

   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s ease, visibility 0.5s ease;
}

.productCard:hover .imageIcons{
    opacity: 1;
    visibility: visible;
}

.productCardBottom{
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    padding: 1.5rem;
}

.productCardDetails{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productCardDetails p:first-child{
    font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: -.5rem;
      color: rgb(184, 184, 184);
}

.productCardDetails h1{
    font-size: 1.7rem;
    font-weight: 600;
    color: #424242;

    /* display: -webkit-box;
    -webkit-line-clamp: 2;   
    -webkit-box-orient: vertical;
    overflow: hidden; */
    transition: color .2s ease   ;
}

.productCardDetails h1:hover{
    color: #007bff;
    cursor: pointer;


}

.productCardDetails p:last-child{
      font-size: 1.5rem;
      font-weight: 600;
}



.productCardIcon{
    padding: 1rem 1rem;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: white;
    user-select: none;
    transition: background-color .5s ease   ;
}

@media (hover: hover) {
    .productCardIcon:hover {
        background: var(--secondary-color-light);
    }
}

.productCardIcon:active {
    background: var(--secondary-color-light);
}


.moreDetailIcon .productCardIcon{
    border-radius: 50%;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: .8rem;
    
}

.productCard:hover .moreDetailIcon .productCardIcon{
    background-color: #007bff;
    color: rgb(255, 255, 255);

}

 