.productCard {
    background-color: var(--background-secondary);
    width: 350px;
    border-radius: 1.5rem;
    overflow: hidden;
    border: 1px solid var(--border-color);
    transition: box-shadow 0.3s ease;
}

.productCard:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.productCardTop {
    position: relative; 
}

.productImageParent {
    height: 350px;
    width: 350px;
    overflow: hidden;
    position: relative;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageIcons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.productCard:hover .imageIcons {
    opacity: 1;
    visibility: visible;
}

.productCardBottom {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding: 1.5rem;
}

.productCardDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 760px) {
    .productCardBottom {
        gap: 1rem;
    }
}

.productCardDetails p:first-child {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: -0.8rem;
    color: var(--card-logo-text-color);
}

.productCardDetails h1 {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-primary);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    transition: color 0.2s ease;
}

.productCardDetails h1:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.productCardDetails p:last-child {
    font-size: 1.7rem;
    font-weight: 600;
}

.productCardIcon {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-secondary);
    user-select: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

@media (hover: hover) {
    .productCardIcon:hover {
        background: var(--secondary-color-light);
    }
}

.productCardIcon:active {
    background: var(--secondary-color-light);
}

.moreDetailIcon .productCardIcon {
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--text-secondary);
    padding: 1.2rem;
}

.moreDetailIcon .productCardIcon:hover {
    background-color: var(--secondary-color-light);
    color: var(--text-secondary);
}