.fPagesContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.fPagesContent h1 {
    font-size: 2.7rem;
    color: var(--text-secondary);

}

.fPages {
    font-size: 1.6rem;
    color: var(--text-secondary);
    transition: color 0.3s ease;

}

.fPages:hover {

    color: var(--primary-color);
    cursor: pointer;
}