.contactDetailsContent{
    display: flex;
    gap: 3rem;
    color: var(--text-secondary);
}

.contactDetailsContent p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}


.mail {
    font-size: 1.8rem;
}

.phone {
    font-size: 1.5rem;
}

@media (max-width: 560px) {
.contactDetailsContent{
    display: none;
}
  
}