.wishlistCardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #f1f1f1;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  max-width: 1200px;
  margin-inline: auto;
  border: 1px solid var(--border-color);
}

/* Left group (image + details) */
.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Image */
.imageBox {
  background: #f3f3f3;
  border-radius: 0.8rem;
  height: 100px;
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Details */
.detail {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.price {
  font-size: 1.5rem;
  color: #000000;
}



/* Remove icon (far right edge) */
.remove {
  display: flex;
  justify-content: center;
  padding-right: 2rem;
}

.trashIcon {
  font-size: 1.8rem;
  cursor: pointer;
}

.trashIcon:hover {
  color: red;
}



@media (max-width: 600px) {
    .wishlistCardContent {
      flex-direction: column;
      padding: 2rem 0rem;
      gap: 1rem;
    }
    .left {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .remove {
    align-self: center;
    padding: 0;
  }

  

  .selectBtn {
    margin: 0 auto;
  }
}