.fCatoriesContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.fCatoriesContent h1 {
    font-size: 2.7rem;
    color: var(--text-secondary);

}

.fCategory {
    font-size: 1.6rem;
    color: var(--text-secondary);
    transition: color 0.3s ease;

}

.fCategory:hover {

    color: var(--primary-color);
    cursor: pointer;
}