.productDetails{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.8rem;
}

.title{
    font-size: 3.5rem;
    font-weight: 500;
}

.prices{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.salePrice{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.price{
    font-size: 2rem;
    text-decoration: line-through;
    color: #9b9b9b;
}

.discount{
    background-color: #4a8f1f;
    color: var(--text-secondary);
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
    border-radius: 0 6px 6px 0;
    position: relative;
}

.discount::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 10px solid #4a8f1f;
}

.infoRow{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 0.4rem 0;
}

.quantityRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.counter{
    display: flex;
    align-items: center;
    border-radius: 999px;
    overflow: hidden;
    background: var(--tertiary-color);
}

.counter button{
    width: 45px;
    height: 45px;
    border: none;
    font-size: 2rem;
    background: var(--tertiary-color);
    cursor: pointer;
    color: var(--secondary-color);
}

.counter span{
    width: 45px;
    text-align: center;
    font-size: 1.6rem;
}

.btns{
    display: flex;
    gap: 1.5rem;
}



.wishlistBtn{
    flex: 1;
    border: 2px solid green;
    background: white;
    color: green;
    border-radius: 999px;
    font-size: 1.6rem;
    /* padding: 1.2rem; */
}

.wishlistBtn:hover{
    background-color: white;
    cursor: pointer;
}

@media (max-width: 768px){
    .productDetails{
        max-width: 100%;
    }

    
    .productDetailsParent{
        max-width: 100%;
    }
}