.searchContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.573);
}

.searchBar {
    width: 100%;
    border: 1px solid transparent;
    background-color: var( --background-search);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    padding-right: 6rem;
    border-radius: 25px;
    overflow: hidden;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.searchBar::placeholder {
    color: gray;
    font-size: 1.6rem;
    opacity: 1;
}

.searchBar:focus {
    border-color: var(--primary-color);
}

.icon {
    font-size: 2.2rem;
    position: absolute;
    z-index: 1;
    right: 20px;
    transition: color 0.5s ease;   
}

.icon:hover {
    color: var(--primary-color);
}

@media (max-width: 760px) {
.searchContainer{
    display: none;
}
  
}
