.fContactDetailsContent {
    display: flex;
    gap: 2rem;
    color: var(--text-secondary);
    flex-direction: column;
}

.fContactDetailsContent p {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.fMail {
    font-size: 1.8rem;
}

.fPhone {
    font-size: 1.5rem;
}