.icons{
    display: flex;
    gap: 20px;
}

.icons .icon:first-child {
    display: none;
}

.icon {
    
    font-size: 2.2rem;
    cursor: pointer;
    transition: color 0.5s ease;
}

.icon:hover {
    color: var(--primary-color);
}

@media (max-width: 760px) {
  .icons .icon:first-child {
    display: block;
  }
}