.icons{
    display: flex;
    gap: 20px;
}

.icons .icon:first-child {
    display: none;
}
.searchIcon{
    display: none;
}

.icon {
    
    font-size: 2.2rem;
    cursor: pointer;
    transition: color 0.5s ease;
    color: var(--secondary-color);
    text-decoration: none;
}

.icon:hover {
    color: var(--primary-color);
}

@media (max-width: 760px) {
  .icons .icon:first-child {
    display: block;
  }

  .searchIcon{
    display: flex;
}
}