.reviewCardsList {
    display: flex;
    gap: 2rem;
    padding-top: 3rem;
    position: relative;
    overflow: hidden; /* important */
}

.reviewCardsList::-webkit-scrollbar {
    display: none;
}

.reviewCardsList > *:first-child {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.reviewCardsList > *:last-child {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
}



.sliderTrack {
    display: flex;
    gap: 2rem;
    transition: transform 0.5s ease;
}