.reviewCardsList {
    display: flex;
    gap: 2rem;
    padding-top: 3rem;
    overflow: auto; /* scroll works */
    position: relative;
    scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge */
.reviewCardsList::-webkit-scrollbar {
    display: none;
}

.reviewCardsListParent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reviewCardListButtons{
    display: flex;
    justify-content: space-between;
}