


.sHContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sHLine{
    width: 10rem;
    border-bottom: 1.6px solid  var(--primary-color);
}

.sHTop{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sHPara{
    font-size: 1.2rem;
}

.sHHeading{
    font-size: 3rem;
}

.sHSmallHeading{
    font-size: 2rem;
}

.sHSmallLine{
    width: 5rem;
    border-bottom: 1.6px solid  var(--primary-color);
}
.sHSmallHeadingContent{
    gap: .5rem;
    
}