.emailSignupSectionContent{
    display: flex;
    justify-content: space-between;
    background-color: #f5f6f8;
  border: 1px solid #e5e7eb;

    max-width: 90%;
    padding: 2rem 0rem;
    padding-right: 2rem;
    border-radius: 1rem;
    margin-inline: auto;
    gap: 1.5rem;
}


.signupEmail{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    flex: 5;
    width: 100%;
}



.emailInput {
    width: 50%;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
}

.emailInput::placeholder {
    color: gray;
    font-size: 1.6rem;
    opacity: 1;
}

.emailInput:focus {
    border-color: var(--primary-color);
}

@media screen  and (max-width: 960px){
    .emailSignupSectionContent{
        flex-direction: column;
        padding-right: 0;
        max-width: 100%;
    }

    .signupEmail{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .emailInput{
        width: 80%;
    }
    
}




