.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.264);
    top: 0;
    display: flex;
    justify-content: right;
    display: none;
}

.sideBar{
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    background-color: var(--tertiary-color);
    font-size: 1.6rem;
    z-index: 100;
    
}



.sideBar p {
    border-top: 1px solid var(--text-primary);
    padding: 1rem 1.5rem;
    transition: color 0.3s ease; /* smooth transition */
}

.sideBar p:hover {
    color: var(--primary-color);
}

.icon{
    right: 10px;
    top: 10px;
    align-self:flex-end;
    padding: 2rem;
}


