.wCUContent{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 1rem;
}


@media screen and (max-width: 920px){
    .wCUContent{
        flex-direction: column;
    }
}