*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #000000;
  --secondary-color-light: #222222;
  --tertiary-color: #f8f9fa;

  --text-primary: #212529;
  --text-secondary: #ffffff;

  --background-primary: #ffffff;
  --background-secondary: #f1f3f5;
  --background-search : #eeeeee;

  --success-color: #28a745;
  --error-color: #dc3545;
  --warning-color: #ffc107;

  --gap: 1.5rem;
}

html{
  font-size: 10px;
}

@media (max-width: 760px) {
  html {
    font-size: 9.5px;
  }

  
}
