.parent {
  width: 100%;
  /* height: 100vh; */
  padding: 5rem 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.loginBox {
  max-width: 400px;
  background: rgb(234, 234, 234);
  padding: 2rem 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  border: 1px solid var(--border-color);
  gap: 2rem;
}

@media screen and (max-width: 860px) {
    .links{
        flex-direction: column;
align-items: center;
user-select: none;
    }
}
@media screen and (max-width: 760px) {
    .loginBox{
        /* width: 90%; */
    }
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input {
  width: 95%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid #ddd;
  font-size: 1.6rem;
  outline: none;
  transition: border 0.3s ease;
}

.input:focus {
  border-color: var(--primary-color);
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}


.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 1.5rem;
  gap: 0.7rem;
  font-size: 1.4rem;
  color: gray;
}

.links span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.links span:hover {
  color: var(--primary-color);
}